[package]
name = "agent"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true

[dependencies]
clap = { version = "4.5.20", features = ["derive"] }
libagent = { path = "../libagent" }
tokio = { version = "1.41", features = ["full"] }
